input{
    &[type="checkbox"]{
        @apply bg-no-repeat bg-center bg-contain align-middle appearance-none w-4 h-4 border border-gray-400 p-0;

        &:checked {
            background-color: #FCE300;
            border-color: #FCE300;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }
    }

    background: #FBFBF9;
    border: 2px solid #F2F2ED;
    @apply p-3 w-full;

    &:focus{
        outline: none;
        background: #fff;
    }
}

::placeholder { 
    color: #C4C4C4;
}