input{
    &[type="checkbox"]{
        @apply bg-no-repeat bg-center bg-contain align-middle appearance-none w-4 h-4 border border-gray-400 p-0;

        &:checked {
            background-color: #FCE300;
            border-color: #FCE300;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }
    }

    &:focus{
        outline: none;
        background: #fff;
    }

    &[type="radio"] {
        @apply border-gray-300 bg-white appearance-none inline-block w-5 h-5 p-1 bg-clip-content rounded-full;

        &:checked {
            @apply bg-yellow border-yellow;
        }
    }
}

::placeholder { 
    color: #C4C4C4;
}

input, textarea {
    background: #FBFBF9;
    border: 2px solid #F2F2ED;
    @apply p-3 w-full;

    &:focus{
        border: 2px solid rgb(221, 221, 220);
    }
}


.form-group {
    @apply flex flex-col mt-4;

    select, input, textarea {
        @apply w-full rounded-lg py-2 px-4 mt-2 border border-gray-300 outline-none;
    }

    select {
        background: #F2F2ED;
        color: rgb(107, 107, 107);
        option {
            color: #000;
        }
    }

    a {
        color: #00B373;
        text-decoration: underline;
    }

    label {
        @apply text-sm md:text-lg;
    }

    &.inline-form{
        display: flex;
        flex-direction: row;
        align-items: center;

        select, input, textarea {
            margin: 0;
            margin-left: 5px;
        }

    }
}