@import './loading.scss';
@import './upcoming-orders.scss';
@import './tables.scss';
@import './inputs.scss';
@import './pages/client-ordering-page.scss';

.main {
  @apply bg-primary min-h-screen;
}
.title-text {
  font-family: 'Josefin Sans', sans-serif;
}

.chip {
  min-width: 55px;
  @apply inline-flex justify-center items-center rounded-lg p-2 cursor-pointer text-center;
  background: #fffacc;
  transition: background 0.25s;
  &.selected,
  &:hover {
    @apply bg-yellow;
  }
}


.btn {
  @apply bg-yellow px-3 py-2 text-brown font-medium cursor-pointer;
  &__disabled {
    @apply opacity-60 cursor-not-allowed;
  }

  &__secondary {
    @apply bg-white border border-gray-300;
  }
}
.container {
  @apply w-7/12 mx-auto text-center pt-16;
}
.card {
  @apply bg-white rounded-xl px-3 py-3;
  &__title {
    @apply text-xl text-left;
  }
  &__content {
    @apply my-2;
    &__link {
      @apply flex justify-between border-t-2 border-primary py-1 cursor-pointer;
      &__text {
        @apply text-lg;
      }
      &__icon {
        @apply text-secondary pt-2 pr-2;
      }
    }
  }
}